---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>A Full Stack Developer is the Swiss Army knife of web development. <br><br>With expertise in both frontend
			and backend development, a Full Stack Developer can handle every aspect of your web project. <br><br>
			Whether you need a custom website, a web application, or an e-commerce platform, a Full Stack Developer
			can make it happen.
			</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2> Enjoy the challenges</h2>
		<p>I love a good challenge. There's nothing quite like the feeling of taking on something new and
			pushing myself to reach new heights.<br><br> Challenges push me to think creatively, to problem-solve, and
			to grow both personally and professionally.<br><br>
			So if you have a challenge that needs tackling, count me in !
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="phone" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Available</h2>
		<p>I'm open to any proposition. As someone who values flexibility and adaptability, I'm always excited
			to explore new opportunities and ideas. <br><br> Whether you have a project that needs attention, a business proposal
			to discuss, or just a new idea to bounce off of, I'm all ears
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
